* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section {
    width: 90%;
    /* background-color: pink; */
    margin: auto;
    margin-top: 3rem;
}

.title {
    font-size: 2rem;
}

.input-field {
    width: 60%;
    min-width: 400px;
    margin-top: 2rem;
    display: flex;
    align-items: flex-start;
    gap: 6px;
}

.input-field textarea {
    flex: 4;
    background-color: #F0D9B4;
    border: none;
    padding: 1rem 1rem;
    outline: none;
    border-radius: 8px;
    min-height: 50px;
    max-height: 200px;
}

.add-note-btn {
    flex: 1;
    height: 60px;
    background-color:#121212;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.notes-container {
    width: 100%;
    margin-top: 2rem;
    /* background-color: red; */
    display: grid;
    /* grid-template-columns: 90%; */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    position: relative; 

}

.notes{
    background-color: rgb(125, 230, 170);
    padding: 10px;
    border-radius: 8px;
    position: relative;
    height: 150px;
    overflow: auto;

}

.notes::-webkit-scrollbar{
    width: 6px;
}

.notes::-webkit-scrollbar-track{
    background-color: transparent;
    border-radius: 6px;
}

.notes::-webkit-scrollbar-thumb {
    background-color: #121212c1; /* Color of the scrollbar thumb */
    border-radius: 6px; 
}
.notes p {
     padding-right: 1.5rem;
}

.close-btn {
    position: absolute;
    right: 8px;
    background-color: transparent;
    border: none;
    color: #121212;
    cursor: pointer;
    font-size: 1rem;
}


@media (min-width: 768px){
    .notes-container {
        grid-template-columns: repeat(4,1fr);
    }
}